@charset "UTF-8";

body{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: aqua;
}
h1#principal{
    text-align: center;
    color:brown;

}
h2{
    color: blueviolet;
}
.basico{
    color: rgb(139, 88, 10);
}
.intermediario{
    color: crimson;
}
.avançado{
    color: dimgrey;
}